openapi: 3.1.0
info:
  title: VideoAmp Public API
  version: '2026-07-31'
  summary: Audience, planning, measurement and data-collaboration APIs for VideoAmp's cross-platform media measurement platform.
  description: |-
    The VideoAmp Public API powers audience building, media planning and optimization, ad and content measurement, inventory and rate cards, data streams, and cross-organization data sharing.

    **Provenance.** VideoAmp does not publish an anonymous OpenAPI document: `https://docs.videoamp.dev` redirects to Auth0 and the CLI's `--oas` flag fetches the specification from the authenticated API. This document was derived by API Evangelist from the operation table that VideoAmp itself ships inside the official `videoamp` CLI binary (GitHub release `v0.148.32`, api_edition `2026-07-31`) — every path, method, operationId, summary, description and parameter here is reproduced verbatim from that binary's own `--help` output. Request and response body schemas are not exposed on any anonymous surface and have deliberately been left unspecified rather than invented.

    **Not an official VideoAmp artifact.** See https://docs.videoamp.dev for the authoritative specification.
  contact:
    name: VideoAmp Support
    email: support@videoamp.com
    url: https://help.videoamp.dev
  termsOfService: https://videoamp.com/terms-of-use/
servers:
- url: https://api.videoamp.dev
  description: Production. The VideoAmp CLI also references `staging` and `preprod` environments (api.staging.videoamp.dev, api.preprod.videoamp.dev), but neither resolves publicly (DNS NXDOMAIN as of 2026-08-02), so they are not listed as callable servers.
security:
- videoampOAuth: []
tags:
- name: adMeasurements
  description: adMeasurements operations.
- name: audiences
  description: audiences operations.
- name: campaigns
  description: campaigns operations.
- name: consents
  description: consents operations.
- name: content
  description: content operations.
- name: currency-of-record
  description: currency-of-record operations.
- name: dataStreamTypes
  description: dataStreamTypes operations.
- name: dataStreams
  description: dataStreams operations.
- name: inventories
  description: inventories operations.
- name: library
  description: library operations.
- name: me
  description: me operations.
- name: plans
  description: plans operations.
- name: reports
  description: reports operations.
- name: shares
  description: shares operations.
paths:
  /external/v1/content/episodes:
    get:
      operationId: episode_list
      summary: List Episodes
      tags:
      - content
      description: Retrieve a filtered list of TV episodes with associated metadata. Use this endpoint to discover available episode inventory for content measurement campaigns, build episode selection interfaces, or perform bulk analysis of programming content. Supports filtering by network, program, and currency of record to match specific measurement requirements.
      parameters:
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: integer
        description: Viewershiptype id as a filter.
      - name: episodeIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: A list of episodes to filter the results to.
      - name: networkId
        in: query
        required: false
        schema:
          type: integer
        description: To filter programs to those that are aired on a given network.
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. The maximum value is 1000; values above 1000 will be coerced to 1000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: programId
        in: query
        required: false
        schema:
          type: integer
        description: To filter episodes to those that belong to a particular series.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: episode_list
  /external/v1/content/episodes/{episodeId}:
    get:
      operationId: episode_get
      summary: Get Episode
      tags:
      - content
      description: Retrieve detailed metadata for a specific TV episode by ID. Use this endpoint to access episode-specific information needed for content measurement, advertising campaign planning, or media inventory analysis. Essential for workflows that require episode-level granularity in viewership reporting.
      parameters:
      - name: episodeId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the Episode.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: episode_get
  /external/v1/content/media-groups:
    get:
      operationId: media_group_list
      summary: List Network MediaGroups
      tags:
      - content
      description: Return a list of network media groups with metadata available to query networks.
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: A search string for matching against the network media group name.
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: media_group_list
  /external/v1/content/metric-type-compatibility-matrix:
    get:
      operationId: content_metric_compatibility_get
      summary: List Metric and Dimension Types
      tags:
      - content
      description: Return the compatibility matrix of supported metrics and dimensions for content measurement requests. Use this endpoint before creating content metrics to validate your measurement configuration and discover available combinations. Essential for building dynamic UI forms or validating programmatic measurement requests.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: content_metric_compatibility_get
  /external/v1/content/metrics:
    post:
      operationId: content_metric_create
      summary: Create Metrics
      tags:
      - content
      description: Initiates an asynchronous content metric request that returns a universally unique identifier (uuid). The Get Content Metrics Request endpoint can be polled to obtain the status of the async request and, once complete, the output location in the client's configured S3 bucket.
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp content_metric_create --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: content_metric_create
  /external/v1/content/metrics/{id}:
    get:
      operationId: content_metric_get
      summary: Get Metrics
      tags:
      - content
      description: Given a valid content metrics uuid, returns the status of the request and, if complete, the s3 location of the output CSV file.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: content_metric_get
  /external/v1/content/networks:
    get:
      operationId: network_list
      summary: List Networks
      tags:
      - content
      description: Returns a list of networks with metadata available for use.
      parameters:
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: integer
        description: Viewershiptype id as a filter.
      - name: mediaGroupName
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: A Media group name to use as filter.
      - name: name
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Search strings for matching against the primary name of the underlying object. This is a case insensitive simple text search using fuzzy matching logic.
      - name: networkIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: A list of network ids to filter the results to, if its empty return all the networks.
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. The maximum value is 1000; values above 1000 will be coerced to 1000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: network_list
  /external/v1/content/networks/{id}:
    get:
      operationId: network_get
      summary: Get Network
      tags:
      - content
      description: Returns the network details provided an id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: network_get
  /external/v1/content/programs:
    get:
      operationId: program_list
      summary: List Programs
      tags:
      - content
      description: Returns a list of programs with metadata available for use.
      parameters:
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: integer
        description: Viewershiptype id as a filter.
      - name: name
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: A search string for matching against the primary name of the underlying object. This is a case insensitive simple text search using fuzzy matching logic on NAME column.
      - name: networkId
        in: query
        required: false
        schema:
          type: integer
        description: Network to filter to.
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. The maximum value is 1000; values above 1000 will be coerced to 1000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: programIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: A list of programs to filter against.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: program_list
  /external/v1/content/programs/{programId}:
    get:
      operationId: program_get
      summary: Get Program
      tags:
      - content
      description: Returns the program details provided an id.
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: program_get
  /external/v1/currency-of-record:
    get:
      operationId: cor_list
      summary: List Currency of Records
      tags:
      - currency-of-record
      description: |-
        ### What

        Retrieves a paginated list of available Currency of Records (CoRs) with filtering and search capabilities. Each CoR represents a specific measurement methodology tied to a broadcast year, defining the panel composition, data collection standards, and measurement currency used for audience guarantees.

        ### Why

        Currency of Records are foundational to VideoAmp's measurement system, ensuring consistent methodology across analyses within the same broadcast year. Different broadcast years use different panels, measurement techniques, and data sources, making CoR selection critical for accurate comparisons and contractual guarantees. This endpoint enables discovery of valid CoRs before creating Measurement requests, preventing configuration errors.

        ### When

        Call this endpoint when you need to:
        - Discover available measurement methodologies for your account before creating Measurement requests
        - Validate CoR values for API requests that require `currency_of_record` parameters
        - Understand broadcast year boundaries and data availability windows for campaign planning
        - Filter CoRs by reporting scope (Ad Measurement vs Content Measurement requests) for specific use cases
        - Check actualized data dates to determine when final broadcast metrics are available

        ### How

        Requires bearer token authentication with appropriate scope. Supports optional filtering by `name` (substring search), `currencyOfRecord` IDs (exact match), and `reportingScope` values (case-insensitive exact match). Pagination uses `pageSize` (max 1000, default 50) and opaque `pageToken` for cursor-based navigation. Response includes broadcast year boundaries, CoR IDs, and actualized data dates for both linear and digital mediums. Typical response time under 200ms for unfiltered queries.

        Related endpoints:
        - `POST /v2beta/adMeasurements` - Uses `currency_of_record` from this endpoint
        - `GET /v2beta/adMeasurements/{id}` - Returns Measurement requests using specific CoR methodology
      parameters:
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: integer
        description: Optional filter to retrieve specific Currency of Records by their numeric IDs. Accepts an array of int32 values representing CoR identifiers, with exact match filtering. Common CoR ID values include 23 (broadcast year 2023-24), 25 (2024-25), and 26 (2025-26), though available IDs vary by account permissions and product configuration. This filter uses OR logic, returning CoRs that match any of the provided IDs. Use this parameter when you already know specific CoR IDs from previous API calls or configuration data and want to retrieve their detailed metadata (broadcast year boundaries, actualized dates, reporting scopes). Can be combined with `name` and `reportingScope` filters for more refined queries. Maximum of 100 IDs supported per request. Leave empty or omit to retrieve all CoRs without ID filtering. If an invalid or unauthorized CoR ID is provided, it is silently ignored rather than causing an error, resulting in fewer results than IDs requested.
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: Optional filter for searching CoR names using case-insensitive substring-based matching. Accepts multiple search strings that are matched against the primary name field of each Currency of Record. The substring matching logic uses SQL ILIKE with wildcard patterns, so partial matches are supported (e.g., searching for '24-25' will match 'Currency 2024-25'). Each string in the array is treated as an independent search term with OR logic, meaning results include CoRs matching any of the provided name patterns. Common use case is searching by broadcast year identifiers like '23', '24', '25' to quickly find specific currency years. Leave empty or omit entirely to retrieve all available CoRs without name filtering.
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. Controls the size of the `data` array in the response and impacts both API performance and client memory usage. Accepted values range from 1 to 1000, with values exceeding 1000 automatically coerced down to the maximum. Default is 50 when omitted, which provides good balance for most interactive use cases. Smaller page sizes (10-25) are recommended for UI pagination with progressive loading, while larger sizes (100-1000) are more efficient for batch processing workflows and data exports that need to retrieve all CoRs with minimal API calls. The total number of available results is returned in the `paging.totalResults` field, allowing clients to calculate the number of pages needed. When processing all results, use maximum `pageSize` (1000) combined with `pageToken` navigation to minimize round trips while respecting rate limits.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: reportingScope
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional filter to retrieve Currency of Records by their reporting scope classification, which determines what types of Measurement requests can use each CoR. Accepts an array of scope strings with case-insensitive exact matching (no partial matches or fuzzy logic). Valid values are 'AD_MEASUREMENT' and 'CONTENT_MEASUREMENT'. Some CoRs support multiple scopes and will be returned if any of their scopes match any filter value provided (OR logic). Use this filter when building scope-specific workflows that require filtering CoRs by their intended measurement use case. For example, Ad Measurement workflows should filter by 'AD_MEASUREMENT' to exclude content-only CoRs. Leave empty or omit to retrieve all CoRs regardless of reporting scope. Invalid scope values are silently ignored rather than causing errors.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: cor_list
  /v1/audiences:
    post:
      operationId: audience_create_v1
      summary: Create Audience
      tags:
      - audiences
      description: This endpoint triggers the create audience process. To use the creation endpoint, the current holding company must be onboarded, please contact Videoamp support for more information. To see a full list of response messages please view our [help page](https://help.videoamp.dev/en/articles/9415579-audience-service-error-codes-messages).
      parameters:
      - name: validateOnly
        in: query
        required: false
        schema:
          type: string
        description: This field validates the required fields and the requesting user's permissions. An audience resource will not be created when this field is set to true. This field is optional and defaults to `false`. (default true)
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp audience_create_v1 --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_create_v1
    get:
      operationId: audience_list_v1
      summary: List Audiences
      tags:
      - audiences
      description: This endpoint returns a list of the audiences accessible to the user. The list can be filtered and sorted. To see a full list of response messages please view our [help page](https://help.videoamp.dev/en/articles/9415579-audience-service-error-codes-messages).
      parameters:
      - name: audienceIds
        in: query
        required: false
        schema:
          type: string
        description: Query param audience_ids returns only matching audiences for given valid audience legacy ids. The values in this field must be valid numeric ids.
      - name: audienceUuids
        in: query
        required: false
        schema:
          type: string
        description: Query param audience_uuids returns only matching audiences for given valid audience uuids. The values in this field must be valid UUIDs.
      - name: cadences
        in: query
        required: false
        schema:
          type: string
        description: 'Query param cadences returns only the audiences with refresh cadence in the provided list. Accepted Values: - `one_time` - `weekly` - `monthly` - `quarterly`'
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: string
        description: Query param 'currencyOfRecord' refers to the data and methodologies used for VideoAmp currency guarantees within a given broadcast year. If not provided, 'demo' audiences default to VideoAmp's latest currency of record. 'advance' audiences from all currency of record will be returned.
      - name: filteredAgencyAdvertiserIds
        in: query
        required: false
        schema:
          type: string
        description: Query param filteredAgencyAdvertiserIds returns only the audiences these agency advertisers have access to.
      - name: filteredAgencyIds
        in: query
        required: false
        schema:
          type: string
        description: Query param filteredAgencyIds returns only the audiences these agencies have access to.
      - name: level
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''level'' filters the audiences by level. This filter only applies to demographic audiences (i.e. ''type=demo'') as advanced audiences are all household level. If unset, the default is to return all audiences. - LEVEL_UNSPECIFIED: Unspecified level - HOUSEHOLD: Household based audience - PERSON: Person based audience'
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''orderBy'' specifies the order of the results. This field is case sensitive. Accepted Values: - ''desc(createdAt)'' - (Default) - ''asc(createdAt)'' - ''desc(name)'' - ''asc(name)'''
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Query param 'query' filters the audiences by name, description, id or uuid. This field is case insensitive.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''status'' filters the audiences by status. This field is case insensitive. Accepted Values: - ''ready'' - Ready to use - ''failed'' - Failed to create Audience - ''processing'' - Audience is being created - ''draft'' - Audience to be created'
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''type'' filters the audiences by type. Accepted Values: - ''advanced'' - Returns the combination of ''owned'' and ''shared'' audiences - ''demo'' - Returns VideoAmp''s global demographic audiences - ''shared'' - Returns audiences that are shared to this organization - ''owned'' - Returns only audiences that are created within this organization - ''exposure'' - Returns exposure audiences - ''content'' - Returns content audiences - ''user_provided'' - Returns user provided audiences - ''composite'' - Returns composite audiences If no type filter is specified, all audiences will be returned.'
      - name: useCases
        in: query
        required: false
        schema:
          type: string
        description: 'Query param useCases filters the audiences by use cases. If multiple use cases are provided, the result will contain audiences with at least one of the provided use cases. This field is case insensitive. Accepted Values: - `measurement` - Returns audiences that can be used for ad measurement - `activation` - Returns audiences that can be used for activation - `content` - Returns audiences that can be used for content measurement'
      - name: year
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''year'' filters the audiences by broadcast year. This filter retrieves demographic audiences with metrics for the given broadcast year. Accepted Values: - ''2020'' - ''2099'''
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_list_v1
  /v1/audiences/status:
    get:
      operationId: audience_status_list
      summary: List Statuses
      tags:
      - audiences
      description: This endpoint returns a list of audience creation statuses. The list can be filtered and sorted. To see a full list of response messages please view our [help page](https://help.videoamp.dev/en/articles/9415579-audience-service-error-codes-messages).
      parameters:
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''orderBy'' specifies the order of the results. This field is case sensitive. Accepted Values: - ''desc(createdAt)'' - (Default) - ''asc(createdAt)'' - ''desc(name)'' - ''asc(name)'''
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: requestId
        in: query
        required: false
        schema:
          type: string
        description: Query param requestIds filters the audiences by request id. This field is synonymous with the Audience's UUID.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Query param ''status'' filters the audiences by status. This field is case insensitive. Accepted Values: - ''ready'' - Ready to use - ''failed'' - Failed to create Audience - ''processing'' - Audience is being created - ''draft'' - Audience to be created'
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_status_list
  /v1/audiences/{audienceId}/exports:
    post:
      operationId: audience_export_create
      summary: Create Export
      tags:
      - audiences
      description: |-
        Creates a new export of the audience to a downstream destination.

        **Why**: Push audience members to a destination. Each export is owned by the calling organization and runs on a one-time or recurring cadence.

        **When**: Returns `201` with the created `Export` (`status=QUEUED`). The audience may be in any status — the export materializes once its data is available. Check `audience_export_get` to monitor progress until `status` reaches `READY` or `FAILED`.

        **Discovering valid export types**: Not every type is valid for every audience. The v2 `Audience` exposes `available_export_types`, listing the types eligible for that audience (based on classification, use cases, ownership, and onboarding). **Call `audience_get` (or `audience_list`) v2 first** and pick `exportType` from that list. Empty for SYSTEM audiences and audiences with no eligible use cases (cannot be exported).

        **Prerequisites**:
        - Calling organization onboarded for the chosen `exportType`. Onboarding populates `available_export_types`; contact VideoAmp Support if empty for an expected destination.
        - For `LIVERAMP`: submit a [HelpDesk Ticket](https://help.videoamp.dev/en/articles/10609936-submit-a-help-desk-ticket) with the audience name and your LiveRamp destination account ID/name — the API call alone does not finalize the sync.

        **How**: `audienceId` accepts the audience's UUID or legacy integer (no `-` wildcard — a concrete audience is required). Request body is the `Export` object; see its `export` field for per-type required sub-fields and the `exportType`↔`*ExportTypeSpecification` matching rule.

        **Pre-flight validation**: Set `validate_only=true` to verify request shape and permissions without creating a resource. On success the response is the validated `Export`; errors return `400` with `field_violations`.

        **Scope**: The created export is owned by the calling organization; `owner.type` must be `ORGANIZATION` (or `HOLDING_COMPANY`) and `owner.id` must be the calling organization's id.
      parameters:
      - name: audienceId
        in: path
        required: true
        schema:
          type: string
        description: 'Audience identifier the export will be created against. **Accepted formats** (all map to the same audience resource): - UUID (string) — **use this**. Matches ''audience.audienceUUId'' (v1) or ''audience.id'' (v2). - Legacy integer (string-encoded) — backwards compatibility only. Matches ''audience.audienceId'' (v1) or ''audience.legacy_id'' (v2). Use UUID for new integrations. Returns ''404'' if the audience does not exist or is not accessible to the calling organization.'
      - name: validateOnly
        in: query
        required: false
        schema:
          type: string
        description: This field validates the required fields and the requesting user's permissions. An export resource will not be created when this field is set to true. This field is optional and defaults to `false`. (default true)
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp audience_export_create --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '400':
          description: Bad Request — invalid or unsupported parameter values.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_export_create
    get:
      operationId: audience_export_list
      summary: List Exports
      tags:
      - audiences
      description: |-
        Returns the paginated list of exports configured for the given audience.

        **Why**: Discover all delivery destinations and runs for an audience. Use this endpoint to monitor recurring export pipelines, audit which destinations have received the audience, and confirm whether a previous export reached `READY` before triggering downstream activation.

        **When**: Call after `POST /v1/audiences/{audienceId}/exports` to poll the per-export `status` until it reaches a terminal state (`READY` or `FAILED`). Also use to enumerate existing exports before creating a new one to avoid duplicates. When the specific export id is already known, use `GET /v1/audiences/{audienceId}/exports/{id}` instead of paging through this list.

        **How**: The `audienceId` path segment accepts a UUID, a legacy integer, or `-` (wildcard for all audiences in the caller's organization). Page with `pageSize` (max `3000`, default `20`) and `pageToken`. Sort with the `sorts` query parameter using `+field` / `-field` syntax. **Filtering by status, exportType, or other attributes is not currently supported** — perform any post-filtering client-side on the returned `results`.

        **Scope**: Results are automatically scoped to the caller's organization; only exports owned by your organization are returned. There is no parameter to widen this scope.

        **Status lifecycle**: Each returned `Export.status` advances `QUEUED` → `PROCESSING` → `READY` or `FAILED`. `READY` and `FAILED` are terminal; `QUEUED` and `PROCESSING` are non-terminal and indicate work is ongoing. Do not treat `PROCESSING` as a terminal state.
      parameters:
      - name: audienceId
        in: path
        required: true
        schema:
          type: string
        description: 'Audience identifier whose exports to list. **Accepted formats** (all map to the same audience resource): - UUID (string) — **use this**. Matches ''audience.audienceUUId'' (v1) or ''audience.id'' (v2). - Legacy integer (string-encoded) — backwards compatibility only. Matches ''audience.audienceId'' (v1) or ''audience.legacy_id'' (v2). Use UUID for new integrations. - ''-'' (single dash) — wildcard. Returns exports across all audiences accessible to the calling organization. Use to enumerate exports without first knowing the audience id. An unknown audience id returns ''200'' with an empty ''results'' array (not ''404''). Malformed values that are neither UUID, integer, nor ''-'' return ''400'' with a ''field_violations'' entry.'
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. Defaults to `20` when omitted. Maximum allowed value is `3000` — values above this return `400` with a `page_size` field violation. Pair with `pageToken` to iterate through large result sets.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: sorts
        in: query
        required: false
        schema:
          type: string
        description: 'Sort order for the result list. Specify each sort key as <direction><field_name> with **no space** between them — e.g., `-created_at`. Whitespace is stripped before parsing, so `+ created_at` and `+created_at` are treated identically. **Field names are case sensitive.** Default when omitted: `-created_at` (newest first). **Sortable fields:** - `created_at` — when the export was created - `audience_id` — audience integer id - `export_type` — destination type (`CUSTOM_S3`, `LIVERAMP`, etc.) - `status` — execution status **Direction prefixes:** - `+` ascending (also the default if no prefix is supplied) - `-` descending **Multiple keys:** repeat the query parameter to compose ordering, e.g. `?sorts=-status&sorts=+created_at`. Keys are applied in the order received. **Note:** unlike v2 endpoints (which use `orderBy=created_at desc` syntax), this endpoint uses prefix notation. Do not mix the two.'
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_export_list
  /v1/audiences/{audienceId}/exports/{id}:
    get:
      operationId: audience_export_get
      summary: Get Export
      tags:
      - audiences
      description: |-
        Returns the full details of a single export, identified by its UUID and audience.

        **Why**: Retrieve the current state of one export — its execution `status`, the destination-specific spec object, and any per-destination metadata populated once the run reaches `READY`.

        **When**: This is the canonical endpoint for **checking export status**. After `audience_export_create` returns the new export's `id`, check this endpoint to monitor progress until `status` is `READY` or `FAILED` (both terminal). For recurring exports, call this between scheduled runs to inspect the most recent delivery's metadata. Use this over `audience_export_list` when the specific export `id` is already known.

        **How**: Pass the export `id` (UUID) and `audienceId` (UUID, legacy integer, or `-` wildcard for "any audience accessible based on the caller's organization context"). When `audienceId` is concrete, it must reference the same audience that owns the export — a mismatch returns `404`.

        **Scope**: Returns only exports created by the calling organization.

        **Status lifecycle**: `QUEUED` → `PROCESSING` → `READY` or `FAILED`. `READY` and `FAILED` are terminal for one-time exports; recurring exports cycle back to `QUEUED` on each scheduled run.
      parameters:
      - name: audienceId
        in: path
        required: true
        schema:
          type: string
        description: 'Audience identifier of the export to retrieve. **Accepted formats**: - UUID (string) — **use this**. Matches ''audience.audienceUUId'' (v1) or ''audience.id'' (v2). - Legacy integer (string-encoded) — backwards compatibility only. Matches ''audience.audienceId'' (v1) or ''audience.legacy_id'' (v2). Use UUID for new integrations. - ''-'' (single dash) — wildcard for "any audience in the calling organization". Useful when the export ''id'' is known but the audience is not. The server enforces calling-organization scope regardless of which form you use. When a concrete identifier is supplied, it must reference the same audience that owns the export ''id''; mismatch returns ''404''.'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The export's unique identifier (UUID). Obtain from the response of 'audience_export_create' (the 'id' field) or from a previous 'audience_export_list' page. The supplied 'id' must belong to the audience referenced by 'audienceId'. If the export exists but its audience differs, the endpoint returns '404' (the relationship is enforced server-side). Malformed values return '400'.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '404':
          description: Not Found — the resource does not exist or is not accessible to the calling organization.
      x-videoamp-cli-command: audience_export_get
  /v1/audiences/{id}:
    get:
      operationId: audience_get_v1
      summary: Get Audience
      tags:
      - audiences
      description: This endpoint returns the requested audience and it's details. To see a full list of response messages please view our [help page](https://help.videoamp.dev/en/articles/9415579-audience-service-error-codes-messages).
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The Audience's UUID or id (int64).
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_get_v1
  /v1/audiences:batchGet:
    get:
      operationId: audience_batch_get
      summary: Batch Get Audiences
      tags:
      - audiences
      description: This endpoint returns the requested audiences and their details. To see a full list of response messages please view our [help page](https://help.videoamp.dev/en/articles/9415579-audience-service-error-codes-messages).
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: The UUIDs or legacy integer Ids of the audiences to retrieve. Must be all UUIDs or all legacy integer Ids. A maximum of 100 audiences can be retrieved in a batch.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_batch_get
  /v1/audiences:lookUpIdTypes:
    get:
      operationId: audience_id_types_lookup
      summary: Look Up Id Types
      tags:
      - audiences
      description: |-
        Returns all identifier types supported for audience ingestion and export within the authenticated organization. Each entry includes the type name, description, and ingestible/exportable flags.

        ### Why

        Organizations are provisioned with a specific set of ID types based on their data partnerships. This is the authoritative reference for valid types in your org — preventing failures from passing unsupported values to audience creation or export.

        ### When

        Call this endpoint when you need to:
        - Populate a UI dropdown for ID type selection
        - Validate ID type strings client-side before submission
        - Determine which types support export before triggering an export job

        **Do NOT use:** Before every audience creation or export — cache the response instead.

        **Next Steps:** Cache the response. Use `name` as the `type` value in `DataSources` for `POST /v2/audiences` (recommended) or `POST /v1/audiences`. Filter by `ingestible` or `exportable` flags for the relevant operation.

        ### How

        No parameters required. Response is scoped to the authenticated organization. This list changes infrequently — cache for session duration. No endpoint-specific rate limits beyond platform defaults.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: audience_id_types_lookup
  /v1/consents:
    get:
      operationId: consent_list
      summary: List Consents
      tags:
      - consents
      description: |-
        ### What

        Returns a paginated list of consent records where recipients have authorized your organization to share resources with them. Each consent contains recipient identity, status, organization names, and optionally the recipient's organizational hierarchy path.

        ### Why

        Enables discovery of which recipients have consented to receive shared data from your organization. Essential for pre-share validation (verifying consent exists before creating shares), building consent management dashboards, and searching for specific partner organizations by name or type.

        ### When

        - Verify consent exists before calling POST /v1/shares or POST /v2/shares to create new shares
        - Build partner management UIs displaying all consenting recipients
        - Search for specific recipients by name using q=recipient_name filters
        - Filter recipients by organizational type using q=recipient_kind filters

        Use POST /v1/shares to create shares with consenting recipients. Use GET /v1/shares to view existing shares.

        ### How

        Requires valid JWT authentication. Results are automatically filtered to show only consents where your organization is the approved sharer. Use pageSize and pageToken for pagination. Use q parameter to filter by recipient_kind (eq, in) or recipient_name (startswith, endswith, contains).
      parameters:
      - name: fetchRecipientAncestorPath
        in: query
        required: false
        schema:
          type: boolean
        description: When true, populates the recipient_ancestor_path field in each consent showing the recipient's full position in the organizational hierarchy (e.g., 'Organization > Ad Agency > Advertiser'). Useful for consent dashboards that need to display organizational context. May increase response time for large result sets - omit if hierarchy information is not needed. (default true)
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: q
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Advanced query filter for attribute-based filtering. Supported attributes: - **recipient_kind**: Filter by recipient type. Operators: eq, in. Values: ORGANIZATION, ADVERTISER, AD_AGENCY, BRAND, SUB_BRAND, PRODUCT. - **recipient_name**: Filter by recipient organization name. Operators: startswith, endswith, contains. Multiple q parameters are AND''d by default. Use OR keyword between conditions for OR logic. Examples: - ?q=recipient_kind eq ADVERTISER - ?q=recipient_kind in ADVERTISER,AD_AGENCY - ?q=recipient_name startswith Acme - ?q=recipient_name contains Media OR recipient_kind eq AD_AGENCY'
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: consent_list
  /v1/library/conversionDataProviderOptionsSearch:
    post:
      operationId: datasource_conversion_provider_search
      summary: Search Conversion Data Providers
      tags:
      - library
      description: |-
        Searches for a list of available Conversion Data Providers for a given agency advertiser. The response includes details such as the provider's value and label.
        Please view our [help page](https://help.videoamp.dev/en/articles/11429353-datasource-options) for more information on how datasource options can be used.
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp datasource_conversion_provider_search --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_conversion_provider_search
  /v1/library/conversionGroups:
    post:
      operationId: conversion_group_create
      summary: Create Conversion Group
      tags:
      - library
      description: |-
        Creates a new Conversion Group using the provided details. A valid `data_provider_id` must be specified. The `data_provider_id` can be retrieved using the [`Search Conversion Data Providers`](/#tag/datasource-options-service/POST/v1/library/conversionDataProviderOptionsSearch) endpoint. The response returns the details of the newly created Conversion Group, including its unique identifier, metadata, and associated datasources.
        Please view our [help page](https://help.videoamp.dev/en/articles/11429351-conversion-groups) for more information on how conversion groups can be used.
      parameters:
      - name: validateOnly
        in: query
        required: false
        schema:
          type: boolean
        description: Optional. When true, performs all validation without persisting the resource. Returns the resource with defaults applied on success. (default true)
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp conversion_group_create --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: conversion_group_create
    get:
      operationId: conversion_group_list
      summary: List Conversion Groups
      tags:
      - library
      description: |-
        ### What

        Retrieves paginated Conversion Groups configured within your organization. Returns group metadata, datasource configurations, and conversion definitions.

        ### Why

        Conversion Groups are required for creating outcomes Measurement reports (ADVANCED_RF_OUTCOMES, TOPLINE_LINEAR_OUTCOMES, ADVANCED_RF_OUTCOMES_SUPPLEMENTAL). Use this endpoint to discover available Conversion Groups before creating attribution analysis reports.

        ### When

        - Discover Conversion Groups before creating outcomes Measurement reports
        - Search groups by advertiser, date range, or data provider
        - Audit conversion tracking configurations
        - Bulk fetch specific groups by UUID

        ### How

        Filter by `advertiserId`, `startDate`/`endDate`, `search`, `includeDataProviderId`/`excludeDataProviderId`, `currencyOfRecord`, `dataLatency`. Use `ids` for bulk fetch. Use `includeDeleted` for soft-deleted groups.

        ### Related Endpoints

        - `GET /v1/library/conversionGroups/{id}` - Retrieve specific group
        - `POST /v1/library/conversionGroups` - Create new group
        - `DELETE /v1/library/conversionGroups/{id}` - Delete group
        - `POST /v2beta/adMeasurements` - Create outcomes report

        See [help page](https://help.videoamp.dev/en/articles/11429351-conversion-groups) for more information.
      parameters:
      - name: agencyAdvertiserId
        in: query
        required: false
        schema:
          type: string
        description: '**Deprecated** Optional. Ignored if advertiserId is provided. Supports multiple values via repeated query parameters.'
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: string
        description: Filter by currency of record identifier. Must be combined with 'data_latency' filter. Returns groups with matching value or no currency_of_record set.
      - name: dataLatency
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by data latency. Required when using ''currency_of_record'' filter. - DATA_LATENCY_UNSPECIFIED: No selection; Default value. - FINAL: Fully reconciled data with complete accuracy. Available 2-3 weeks after broadcast. **DSGs:** Valid when reporting_scope=AD_MEASUREMENT with KANTAR_COMMINGLE or NATIONAL_LINEAR_AND_BROADCAST_CABLE datasources; or reporting_scope=CONTENT_MEASUREMENT. **CGs:** Required when data_provider_id=linear_tune_in; not valid otherwise. - PRELIMINARY: Fast-processed data, 3-4 days after broadcast, subject to revisions. **DSGs:** Valid when reporting_scope=CONTENT_MEASUREMENT and currency_of_record supports it. **CGs:** Not valid. - NEXT_NEXT_DAY: Near real-time data, ~2 days after broadcast. Volatile. **DSGs:** Valid when reporting_scope=CONTENT_MEASUREMENT and currency_of_record supports it. **CGs:** Not valid.'
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: Filter Conversion Groups by their configured date range end. Format YYYY-MM-DD (ISO 8601). When provided, returns groups where 'filter_start_date' is on or before this date, enabling discovery of groups with conversion data coverage overlapping or before this date. Can be used independently or combined with 'start_date' for complete date range filtering. Useful when creating reports for specific campaign periods to ensure returned groups have data coverage for the analysis timeframe. Validation error occurs if date format is invalid.
      - name: excludeDataProviderId
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Excludes Conversion Groups configured with the specified data provider IDs. Supports multiple values via repeated query parameters. In addition to individual provider IDs, accepts predefined group keys that represent a set of related providers. Available group keys: streaming_tune_in (paramount_streamlog, nbcu_streamlog, tubi_streamlog). If same provider appears in both include_data_provider_id and this field, exclusion takes precedence. Use conversionDataProviderOptionsSearch endpoint to discover valid individual provider IDs.'
      - name: ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Bulk fetch specific Conversion Groups by UUID identifiers. Format is UUID v4 for each ID. Use this for efficient batch retrieval when specific group IDs are known, avoiding filtering through large result sets. Common use case is retrieving multiple groups referenced in existing report configurations or fetching groups from saved preferences. Maximum recommended is 50 IDs per request. A user needs to have access to the IDs included for them to appear in the results.
      - name: includeDataProviderId
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Includes only Conversion Groups configured with data provider IDs in the specified list. Supports multiple values via repeated query parameters with OR logic. In addition to individual provider IDs, accepts predefined group keys that represent a set of related providers. Available group keys: streaming_tune_in (paramount_streamlog, nbcu_streamlog, tubi_streamlog). If same provider appears in both this field and exclude_data_provider_id, exclusion takes precedence. Use conversionDataProviderOptionsSearch endpoint to discover valid individual provider IDs.'
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: string
        description: Controls whether soft-deleted Conversion Groups appear in results. Default false returns only active non-deleted groups. Set to true to include deleted groups for auditing or historical reference. Deleted groups retain all configuration data and can be referenced in historical reports but cannot be used for new report creation. Useful for auditing, troubleshooting reports created before group deletion, or recovering configurations. Response includes deleted_at timestamp for each deleted group when true. Hard-deleted groups never appear regardless of this setting. (default true)
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. Defaults to 20 if not specified. Maximum allowed value is 200.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Free-text search query to filter Conversion Groups by 'display_name' field. Performs case-insensitive partial match against Conversion Group names. When omitted, no name filtering is applied and all groups matching other criteria are returned. When provided, only groups with names containing the search term as substring are included. Useful for quickly finding groups when partial name is known but not full name or ID. Search is not tokenized; entire search string is matched as phrase. Does not search other fields like 'description' or 'advertiser_name'. Combine with other filters like 'advertiserId' for precise results.
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: Filter Conversion Groups by their configured date range start. Format YYYY-MM-DD (ISO 8601). When provided, returns groups where 'filter_end_date' is on or after this date, enabling discovery of groups with conversion data coverage overlapping or after this date. Can be used independently or combined with 'end_date' for complete date range filtering. Useful when creating reports for specific campaign periods to ensure returned groups have data coverage for the analysis timeframe. Validation error occurs if date format is invalid.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: conversion_group_list
  /v1/library/conversionGroups/{conversionGroupId}:
    delete:
      operationId: conversion_group_delete
      summary: Delete Conversion Group
      tags:
      - library
      description: |-
        Soft deletes a Conversion Group by its unique identifier (UUID). The resource can still be referenced by ID but will not be included in list results unless `include_deleted` is set to true.
        Please view our [help page](https://help.videoamp.dev/en/articles/11429351-conversion-groups) for more information on how conversion groups can be used.
      parameters:
      - name: conversionGroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: conversion_group_delete
    get:
      operationId: conversion_group_get
      summary: Get Conversion Group
      tags:
      - library
      description: 'Retrieves complete details of a specific Conversion Group by UUID. Returns the full resource configuration including datasources with filters, lookback window settings, metadata, and timestamps. The response structure matches the format used when creating or listing Conversion Groups. Use `top_level_only=true` to retrieve metadata without datasource details for reduced response size. Use `include_deleted=true` to retrieve soft-deleted groups by ID. Do NOT use for: listing multiple groups (use GET /v1/library/conversionGroups with query parameters instead); creating new groups (use POST /v1/library/conversionGroups). Next Steps: After retrieval, use the `id` field to reference this group in subsequent API operations; examine `datasources` array to understand filter configuration; cache response client-side if displaying in UI to avoid repeated calls. Typical latency under 100ms; full datasource details (top_level_only=false, default) may add 50-100ms for groups with extensive filter configurations. See [help page](https://help.videoamp.dev/en/articles/11429351-conversion-groups) for more information on Conversion Groups.'
      parameters:
      - name: conversionGroupId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the Conversion Group in standard UUID v4 format without prefix. Immutable and system-assigned when created via POST /v1/library/conversionGroups. Obtain from list operations, GET responses, or Location header of creation. Fetches complete configuration including datasources, filters, lookback window, and metadata. Required for retrieval. Returns 404 if ID nonexistent or group deleted (unless include_deleted=true). Invalid UUID format returns 400 with field validation error.
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
        description: Enables retrieval of soft-deleted groups by ID. Default false restricts to active groups; deleted IDs return 404. True allows soft-deleted retrieval for audit trails, historical analysis, restoration. Soft-deleted groups have deleted_at timestamp, excluded from lists unless requested. Used by support investigating attribution on campaigns with deleted groups or restoring configurations. Does not affect hard-deleted groups (permanently removed). (default true)
      - name: topLevelOnly
        in: query
        required: false
        schema:
          type: boolean
        description: Controls datasource inclusion in response. Default false returns complete configuration with datasources array (filters, values, labels). True retrieves only metadata (id, name, lookback window, timestamps), reducing response size 60-80% and latency 50-100ms for groups with extensive filters. Use true when datasource details are not needed. (default true)
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: conversion_group_get
  /v1/library/datasourceFilterNameOptionsSearch:
    post:
      operationId: datasource_filter_name_search
      summary: Search Datasource Filter Names
      tags:
      - library
      description: |-
        ### What

        Returns available filter names by advertiser (business unit) for a given datasource type for Datasource Group (DSG) or data provider for Conversion Group (CG). Each type or provider has specific set of filter names that must be fetched from this endpoint.

        ### Why

        Discovers which filters can be applied when building a DSG or CG.

        **Business Scenarios:**
        - Agent finds `network` and `daypart` filters for NATIONAL_LINEAR_BROADCAST_AND_CABLE

        - User is building a CG with data provider CIRCANA and calls this endpoint to find that `pixel_id` and then `campaign_id` are available to use.
        ### When

        Call after selecting a `datasource_type` from `POST /v1/library/datasourceTypeOptionsSearch` for a DSG. If building a CG, call after selecting a `data_provider_id` from `POST /v1/library/conversionDataProviderOptionsSearch`.

        **Important:** Supports iterative narrowing via `applied_filters`. Pass previously selected filters to see remaining filter names.

        **Do NOT use when:**
        - You already know the exact filter names for the datasource type
        - You need filter values (use `POST /v1/library/datasourceFilterValueOptionsSearch`)

        **Next Steps:** Select filter names, then call `POST /v1/library/datasourceFilterValueOptionsSearch` to get values for each.

        ### How

        **Iterative Discovery:** Call with type or provider + advertiser, select a filter name, get values via `datasourceFilterValueOptionsSearch`, call this endpoint again with `applied_filters`, repeat until done.
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp datasource_filter_name_search --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_filter_name_search
  /v1/library/datasourceFilterValueOptionsSearch:
    post:
      operationId: datasource_filter_value_search
      summary: Search Datasource Filter Values
      tags:
      - library
      description: |-
        ### What

        Returns available filter values (e.g., pixel IDs, campaign IDs, network names) for a given datasource type and filter name. Supports text search via `search` and pagination via `page_size`/`page_token`.

        ### Why

        Discovers specific values available for a selected filter when building a Datasource Group (DSG) or Conversion Group (CG).

        **Business Scenarios:**
        - Agent retrieves pixel IDs for VA_PIXEL with `datasource_filter_name=pixel_id`, uses `search` to find a specific pixel
        - User browses network names for NATIONAL_LINEAR_BROADCAST_AND_CABLE, paginating through results
        ### When

        Call after selecting a filter name from `POST /v1/library/datasourceFilterNameOptionsSearch`. Pass the same `advertiser_id`, `datasource_type`, `data_provider_id` if for CG, `reporting_scope` if for DSG, and date range.

        **Important:** Returns paginated results (default 200/page). Use `search` for text filtering or `next_page_token` to iterate pages. If you have already selected values for other filters on this datasource, include them in `applied_filters` to narrow results.

        **Do NOT use when:**
        - You already know the exact filter values
        - You need filter names (use `POST /v1/library/datasourceFilterNameOptionsSearch`)
        - You need datasource types (use `POST /v1/library/datasourceTypeOptionsSearch`)

        **Next Steps:** Select values, then call `POST /v1/library/datasourceFilterNameOptionsSearch` with `applied_filters` to add more filters, or `POST /v1/library/datasourceGroups` to create the DSG, or `POST /v1/library/conversionGroups` to create the CG.

        ### How

        **Paginated Search:** Call with type + filter name + advertiser. Use `search` to text-filter, `page_token` to paginate, `applied_filters` to narrow results.
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp datasource_filter_value_search --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_filter_value_search
  /v1/library/datasourceGroups:
    post:
      operationId: datasource_group_create
      summary: Create Datasource Group
      tags:
      - library
      description: |-
        Creates a new Datasource Group using the provided details. To retrieve the `datasource_type`, use the [`Search Datasource Type Options`](/#tag/datasource-options-service/POST/v1/library/datasourceTypeOptionsSearch) endpoint. To retrieve filters, use the [`Search Datasource Filter Names`](/#tag/datasource-options-service/POST/v1/library/datasourceFilterNameOptionsSearch) and [`Search Datasource Filter Values`](/#tag/datasource-options-service/POST/v1/library/datasourceFilterValueOptionsSearch) endpoints. The response includes the details of the newly created Datasource Group, including its unique identifier, metadata, and associated datasources.
        Please view our [help page](https://help.videoamp.dev/en/articles/11429358-datasource-groups-and-rules) for more information on how Datasource Groups and Datasource Group Rules are used.
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp datasource_group_create --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_group_create
    get:
      operationId: datasource_group_list
      summary: List Datasource Groups
      tags:
      - library
      description: |-
        ### What

        Retrieves a paginated list of Datasource Groups configured within your organization. Groups define collections of Measurement Datasources with specific filters and date ranges. Response includes group metadata, Datasource configurations, ownership status, and associated advertiser information.

        ### Why

        Datasource Groups are foundational resources that define what data gets included in Measurement reports. Before creating any Measurement report, you must first identify available Datasource Groups that contain the appropriate vendor data, date ranges, and filters for your analysis needs.

        ### When

        Call this endpoint when you need to:
        - Discover available Datasource Groups before creating Measurement reports (required prerequisite)
        - Search Datasource Groups by advertiser, date range, medium, or ownership to filter available Datasources
        - Audit Datasource Group configurations including currency settings, data latency, and reporting scope
        ### How

        - Typical latency under 200ms for queries returning <100 results; pagination recommended for large result sets. Cache responses for up to 1 hour as Datasource Groups change infrequently.
        - Filter by `advertiserId`, `reportingScope` (`AD_MEASUREMENT` vs `CONTENT_MEASUREMENT`), `includeMedium`/`excludeMedium` (`LINEAR`, `DIGITAL`, `SOCIAL`), `ownership` (`OWNED` vs `SHARED`), and `dataLatency` (`FINAL`, `PRELIMINARY`). Use `search` parameter to find groups by name.

        ### Related Endpoints

        - `GET /v1/library/datasourceGroups/{id}` - Retrieve specific group details for a target ID
        - `GET /v1/library/datasourceGroups/{id}/rules` - Retrieve Measurement Rules available for a Datasource Group
        - `POST /v1/library/datasourceGroups` - Create a new group
        - `POST /v2beta/adMeasurements` - Create a Measurement report using specific Datasource Groups

        Please view our [help page](https://help.videoamp.dev/en/articles/11429358-datasource-groups-and-rules) for more information on how Datasource Groups and Datasource Group Rules are used.
      parameters:
      - name: advertiserId
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter Datasource Groups by advertiser UUID. Supports multiple advertiser IDs via repeated query parameters to retrieve groups across multiple advertisers in a single request. Format is UUID v4. Returns only Datasource Groups associated with specified advertiser(s). Each advertiser ID must be valid UUID belonging to an advertiser your organization has access to, otherwise 403 Forbidden error occurs.
      - name: agencyAdvertiserId
        in: query
        required: false
        schema:
          type: string
        description: '**Deprecated** Optional. Ignored if advertiserId is provided. Supports multiple values via repeated query parameters.'
      - name: currencyOfRecord
        in: query
        required: false
        schema:
          type: string
        description: Filter by currency of record identifier. Must be combined with 'data_latency' filter. Returns groups with matching value or no currency_of_record set.
      - name: dataLatency
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by data latency. Required when using ''currency_of_record'' filter. - DATA_LATENCY_UNSPECIFIED: No selection; Default value. - FINAL: Fully reconciled data with complete accuracy. Available 2-3 weeks after broadcast. **DSGs:** Valid when reporting_scope=AD_MEASUREMENT with KANTAR_COMMINGLE or NATIONAL_LINEAR_AND_BROADCAST_CABLE datasources; or reporting_scope=CONTENT_MEASUREMENT. **CGs:** Required when data_provider_id=linear_tune_in; not valid otherwise. - PRELIMINARY: Fast-processed data, 3-4 days after broadcast, subject to revisions. **DSGs:** Valid when reporting_scope=CONTENT_MEASUREMENT and currency_of_record supports it. **CGs:** Not valid. - NEXT_NEXT_DAY: Near real-time data, ~2 days after broadcast. Volatile. **DSGs:** Valid when reporting_scope=CONTENT_MEASUREMENT and currency_of_record supports it. **CGs:** Not valid.'
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: 'Filter Datasource Groups using their configured ''filter_start_date'' and ''filter_end_date'' by verifying if ''[filter_start_date, filter_end_date]'' overlaps with ''[startDate, endDate]'', inclusively. Format ''YYYY-MM-DD'' (ISO 8601 date format). Used to find Datasource Groups that include data within a specific date range. Must be combined with ''startDate'' for complete date range filtering. Useful when creating reports for specific campaign periods - ensures returned groups have data coverage for your analysis timeframe. Validation error occurs if date format is invalid or if ''endDate'' is before ''startDate''. Example use case: Filter to groups covering Q1 2024 data by setting ''endDate'' to 2024-03-31.'
      - name: excludeDatasourceType
        in: query
        required: false
        schema:
          type: string
        description: Excludes Datasource Groups containing the specified datasource type(s). Groups with excluded types are not returned, even if they contain other types. If the same type appears in both includeDatasourceType and `excludeDatasourceType`, `excludeDatasourceType` takes precedence. Valid datasource type values can be retrieved via the `datasource_type_search` operation.
      - name: excludeMedium
        in: query
        required: false
        schema:
          type: string
        description: 'Excludes Datasource Groups containing the specified medium(s). Groups with excluded mediums are not returned, even if they contain other mediums. If the same medium appears in both includeMedium and `excludeMedium`, `excludeMedium` takes precedence. - LINEAR: Category for broadcast/cable TV ads. Example: `KANTAR_COMMINGLE`. - DIGITAL: Category for internet-delivered ads including from streaming, social media, websites and platforms like YouTube and Amazon. Example: `VA_PIXEL`. - SOCIAL: **Deprecated** Migrated to DIGITAL. - CROSS_SCREEN: **Rule Filters Only** Indicates a rule filter is applicable to multiple mediums.'
      - name: ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Bulk fetch specific Datasource Groups by UUID identifiers. Optional parameter that accepts multiple Datasource Group IDs via repeated query parameters. Format is UUID v4 for each ID. Use this for efficient batch retrieval when you already know the specific group IDs you need - avoids filtering through large result sets. Common use case is retrieving multiple groups referenced in existing report configurations or fetching groups from saved user preferences. Maximum recommended is 50 IDs per request to avoid URL length limits and maintain reasonable response times. Each ID must be valid UUID - malformed IDs cause 400 Bad Request error. If an ID doesn't exist or user lacks access, it's silently omitted from results rather than causing error.
      - name: includeDatasourceType
        in: query
        required: false
        schema:
          type: string
        description: Includes Datasource Groups with at least one Datasource matching the specified datasource type(s). Groups may also contain other datasource types. Valid datasource type values can be retrieved via the datasource_type_search operation.
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: string
        description: 'Controls whether soft-deleted Datasource Groups appear in results. Default false returns only active non-deleted groups. Set to `true` to include deleted groups in response for auditing purposes or historical data retrieval. Deleted groups retain all configuration data and can be referenced in historical reports but cannot be used for new report creation. Useful for compliance audits, data lineage tracking, or troubleshooting reports created before group deletion. When `true`, response includes `deleted_at` timestamp for each deleted group. Note: Hard-deleted groups (purged from system after retention period) never appear regardless of this setting. (default true)'
      - name: includeEventCounts
        in: query
        required: false
        schema:
          type: string
        description: Opt-in. When true, populates `event_count` on each returned Datasource Group with best-effort event counts. (default true)
      - name: includeMedium
        in: query
        required: false
        schema:
          type: string
        description: 'Includes Datasource Groups with at least one Datasource matching the specified medium(s). Groups may also contain other mediums. - LINEAR: Category for broadcast/cable TV ads. Example: KANTAR_COMMINGLE. - DIGITAL: Category for internet-delivered ads including from streaming, social media, websites and platforms like YouTube and Amazon. Example: `VA_PIXEL`. - SOCIAL: **Deprecated** Migrated to DIGITAL. - CROSS_SCREEN: **Rule Filters Only** Indicates a rule filter is applicable to multiple mediums.'
      - name: isCompetitor
        in: query
        required: false
        schema:
          type: string
        description: 'Filter Datasource Groups by competitive analysis designation. Default null returns all groups regardless of competitive type. Set to `true` to return only groups configured for competitive intelligence reporting (analyzing competitor advertising activity). Set to `false` to return only groups for owned brand measurement (analyzing your own advertising campaigns). Competitive groups typically contain broader market data across multiple brands while non-competitive groups focus on single advertiser measurement. This filter helps separate competitive intelligence workflows from standard campaign Measurement workflows. Note: This field filters the `report_type` attribute of associated Datasource configurations. (default true)'
      - name: ownership
        in: query
        required: false
        schema:
          type: string
        description: 'Filter Datasource Groups by data ownership and access rights. ''OWNED'' returns groups where all Datasources are fully owned by your organization with unrestricted usage rights for any reporting purpose. ''SHARED'' returns groups containing a mix of owned and shared Datasources where some data may have contractual usage restrictions or access limitations. ''OWNERSHIP_FILTER_UNSPECIFIED'' (default) returns all groups regardless of ownership status. - OWNERSHIP_FILTER_UNSPECIFIED: Default filter value that returns all Datasource Groups regardless of ownership status. - OWNED: Returns only Datasource Groups where all constituent Datasources are fully owned by your organization with unrestricted usage rights. - SHARED: Returns only Datasource Groups that contain a mix of owned and shared Datasources where some Datasources may have contractual usage restrictions or access limitations.'
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. Defaults to 20 if not specified. Maximum allowed value is 200.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: reportingScope
        in: query
        required: false
        schema:
          type: string
        description: 'Filter Datasource Groups by Measurement request type. Defaults to ''AD_MEASUREMENT'' if not specified. Available, valid scopes are: ''AD_MEASUREMENT'' and ''CONTENT_MEASUREMENT''. This filter is critical for ensuring compatibility between Datasource Groups and target report type: Ad Measurement reports require ''AD_MEASUREMENT'' groups while Content Measurement reports require ''CONTENT_MEASUREMENT'' groups. Groups are configured with specific reporting scope at creation time. Attempting to use groups with mismatched reporting scope in report creation will result in validation error. - REPORTING_SCOPE_UNSPECIFIED: Value when unspecified. Should not be used directly. - AD_MEASUREMENT: For Datasource Groups to be used for advertising campaign measurement and attribution analysis. Groups within this scope contain vendor measurement data focused on ad exposure, reach, frequency, and campaign effectiveness metrics. - CONTENT_MEASUREMENT: For Datasource Groups to be used for content viewership and audience measurement analysis. Groups within this scope contain viewing data focused on program ratings, audience composition, and content consumption patterns.'
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Free-text search query to filter Datasource Groups by 'name' field. Performs case-insensitive partial match against Datasource Group display names. When omitted, no name filtering is applied and all groups matching other criteria are returned. When provided, only groups with names containing the search term as a substring are included. Useful for quickly finding groups when you remember part of the name but not the full name or ID. Search is not tokenized - the entire search string is matched as a phrase. Does not search other fields like 'description' or 'advertiser_name'. Combine with other filters like 'advertiserId' for more precise results.
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: 'Filter Datasource Groups using their configured ''filter_start_date'' and ''filter_end_date'' by verifying if ''[filter_start_date, filter_end_date]'' overlaps with ''[startDate, endDate]'', inclusively. Format ''YYYY-MM-DD'' (ISO 8601 date format). Used to find Datasource Groups that include data within a specific date range. Must be combined with ''endDate'' for complete date range filtering. Useful when creating reports for specific campaign periods - ensures returned groups have data coverage for your analysis timeframe. Validation error occurs if date format is invalid or if ''startDate'' is after ''endDate''. Example use case: Filter to groups covering Q1 2024 data by setting ''startDate'' to 2024-01-01.'
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_group_list
  /v1/library/datasourceGroups/{datasourceGroupId}:
    delete:
      operationId: datasource_group_delete
      summary: Delete Datasource Group
      tags:
      - library
      description: |-
        Soft deletes a Datasource Group by its unique identifier (UUID). The resource can still be referenced by ID but will not be included in list results unless `include_deleted` is set to true.
        Please view our [help page](https://help.videoamp.dev/en/articles/11429358-datasource-groups-and-rules) for more information on how Datasource Groups and Datasource Group Rules are used.
      parameters:
      - name: datasourceGroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_group_delete
    get:
      operationId: datasource_group_get
      summary: Get Datasource Group
      tags:
      - library
      description: |-
        ### What

        Retrieves a complete Datasource Group configuration by UUID, including metadata, Datasources, and Rules count.

        ### Why

        Datasource Groups are essential for specifying vendor data, date ranges, and filters to constrain the context when building a Measurement report.

        ### When

        - Use this endpoint for validating configuration before report creation, displaying metadata in UI, auditing for compliance, troubleshooting errors, and checking soft-delete status.
        - Avoid using this endpoint for first-time discovery, bulk retrieval, or existence checks; use `List` for those cases instead.

        ### Next steps

        Validate that date ranges match report needs. Use `id` in `POST /v2beta/adMeasurements`. If `total_rules` > 0, call `GET /v1/library/datasourceGroups/{id}/rules` for more associated rule details.

        ### Related endpoints

        - `GET /v1/library/datasourceGroups` - List Datasource Groups
        - `GET /v1/library/datasourceGroups/{id}/rules` - List Rules for a Datasource Group
        - `POST /v2beta/adMeasurements` - Create a report
        - `DELETE /v1/library/datasourceGroups/{id}` - Delete a Datasource Group

        See [help page](https://help.videoamp.dev/en/articles/11429358-datasource-groups-and-rules) for details.
      parameters:
      - name: datasourceGroupId
        in: path
        required: true
        schema:
          type: string
        description: 'UUID v4 identifier for Datasource Group to retrieve. Obtained from ''List'' endpoint or creation response. Required for all ''GET'' operations. Returns 404 if group doesn''t exist, user lacks access, or group is soft-deleted (set ''includeDeleted = true'' to retrieve deleted groups). Fetches complete configuration including metadata, Datasources, and Rule counts. Primary use: validating group before Measurement report creation.'
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: string
        description: Controls soft-deleted group retrieval. Default false verifies if group is active (404 if ID is deleted). Set to `true` to corroborate if group is deleted. Deleted groups retain configuration and `deleted_at` timestamp but cannot be used in new reports. Useful for lineage tracking, compliance audits, or recovering configuration to recreate. (default true)
      - name: includeEventCounts
        in: query
        required: false
        schema:
          type: string
        description: 'Opt-in. When true, populates `event_count` on the returned Datasource Group with best-effort event counts. No-op when `top_level_only=true`: the summary fetch never populates `datasources`, so `event_count` is always returned as unavailable (empty `counts_by_unit`). (default true)'
      - name: ownership
        in: query
        required: false
        schema:
          type: string
        description: 'Verify Datasource Group ownership and access rights. ''OWNED'' returns group if all Datasources are fully owned by your organization (404 if ''SHARED''). ''SHARED'' returns group if it contains a mix of owned and shared Datasources (404 if all ''OWNED''). ''OWNERSHIP_FILTER_UNSPECIFIED'' (default) returns the group regardless of ownership status. - OWNERSHIP_FILTER_UNSPECIFIED: Default filter value that returns all Datasource Groups regardless of ownership status. - OWNED: Returns only Datasource Groups where all constituent Datasources are fully owned by your organization with unrestricted usage rights. - SHARED: Returns only Datasource Groups that contain a mix of owned and shared Datasources where some Datasources may have contractual usage restrictions or access limitations.'
      - name: topLevelOnly
        in: query
        required: false
        schema:
          type: string
        description: Performance optimization controlling payload size. Default false returns complete group with all Datasources. Set to `true` to retrieve only metadata (ID, name, dates, advertiser, Rule count) excluding `datasources` array. Use for fast UI dropdowns, existence checks, or audits when Datasource details are not necessary. (default true)
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_group_get
  /v1/library/datasourceGroups/{datasourceGroupId}/rules:
    post:
      operationId: datasource_group_rule_create
      summary: Create Rule
      tags:
      - library
      description: |-
        ### What

        Creates a Rule scoped to a Datasource Group (DSG). The Rule's `strategy_definition` is a tree of `RuleItem`s combining filter conditions with boolean operators; it constrains which underlying datasource records contribute to measurement reports built on the DSG.

        ### Why

        Rules persist reusable, label-bearing slices of a DSG so downstream reports render meaningful breakdowns instead of bare identifiers — e.g., an analyst scoping a report to specific LINEAR networks, or a data engineer slicing a DSG by source dimension.

        ### When

        Use to programmatically scope DSG measurement to a subset of underlying data. **Do NOT use** for ad-hoc filtering that need not persist, for filters not exposed by `datasource_rule_filter_name_search` on the target DSG, or against competitor / unsupported-scope DSGs (fails `DGR_0001` / `DGR_0003` / `DGR_0004`).

        ### How

        **Workflow** to build a leaf `RuleItem`:
        1. Call `datasource_rule_filter_name_search` → pick a `RuleFilterNameOption`. Its `value` → `field`; `label` → `field_label`.
        2. If the filter is shared across LINEAR/DIGITAL (`advertiser`, `creative`) and medium is ambiguous, **ask — do not guess.**
        3. Call `datasource_rule_filter_value_search` with the chosen `field` and `medium` → pick `RuleFilterValueOption`s. Values → `values`; labels → `value_labels`.
        4. Wrap leaves per the double-nesting constraint on `RuleDefinition`; populate all four leaf fields.

        ### Next Steps

        Reference the new Rule by `id` in measurement-report calls. Use `datasource_group_rule_get` to confirm; `datasource_group_rule_list` to enumerate.

        ### Related Endpoints

        `datasource_rule_filter_name_search`, `datasource_rule_filter_value_search`, `datasource_group_rule_get`, `datasource_group_rule_list`, `datasource_group_rule_delete`.

        See [help page](https://help.videoamp.dev/en/articles/11429358-datasource-groups-and-rules) for more on Datasource Groups and Rules.
      parameters:
      - name: datasourceGroupId
        in: path
        required: true
        schema:
          type: string
        description: The Datasource Group ID that the Rule belongs to. Must reference a DSG the caller has access to whose reporting scope and datasource types support rules; otherwise the call fails with 'DGR_0001' / 'DGR_0003' / 'DGR_0004'.
      requestBody:
        required: true
        description: JSON request body. The CLI accepts it via `--json`. The body schema is published only in the authenticated OpenAPI document served to logged-in callers (`videoamp datasource_group_rule_create --oas`) and at https://docs.videoamp.dev, both of which require an Auth0 session; it is therefore not reproduced here.
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_group_rule_create
    get:
      operationId: datasource_group_rule_list
      summary: List Rules
      tags:
      - library
      description: |-
        Retrieves all Rules associated with a user or by Datasource Group ID, with the ability to bulk fetch by providing a list of Rule IDs. Use the `-` character to list all Rules associated to a user. Otherwise, provide the Datasource Group ID in the path to return Rules associated to the Datasource Group ID. The response includes a list of all Rules.
        Please view our [help page](https://help.videoamp.dev/en/articles/11429358-datasource-groups-and-rules) for more information on how Datasource Groups and Datasource Group Rules are used.
      parameters:
      - name: datasourceGroupId
        in: path
        required: true
        schema:
          type: string
        description: Specify the Datasource Group ID to fetch Rules for. Use '-' to retrieve Rules from all Datasource Groups.
      - name: ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: List of Rule IDs to retrieve a bulk set of specific Rules.
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
        description: Default false. Deleted Rules will only be included when true. (default true)
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
        description: Query param pageSize specifies the number of results to include in a page of results. Defaults to 20 if not specified. Maximum allowed value is 200.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Query param 'pageToken' specifies the value of the next page to retrieve within a paginated set of results. Valid values can be found in paginated responses that include field 'next_page_token'. When requesting the next page, additional query parameters should NOT change between page requests.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Free-text search query to filter Rules by 'name' and 'description' fields. Performs case-insensitive partial match against Rule names and descriptions. When omitted, no text filtering is applied and all rules matching other criteria are returned. When provided, only rules with names or descriptions containing the search term as a substring are included. Useful for quickly finding rules when you remember part of the name or description but not the full name or ID. Search is not tokenized - the entire search string is matched as a phrase. Combine with other filters like 'datasource_group_id' for more precise results.
      responses:
        '200':
          description: Successful response.
        '401':
          description: Unauthorized — missing or invalid bearer token.
      x-videoamp-cli-command: datasource_group_rule_list
  /v1/library/datasourceGroups/{datasourceGroupId}/rules/{ruleId}:
    delete:
      operationId: datasource_group_rule_delete
      summary: Delete Rule
      tags:
      - library
      description: |-
[...]
